.buddypress-styles {
color: rgb(187, 187, 187);
}

.buddypress-styles table {
margin-bottom : 18px;
width : 100%;
}
.buddypress-styles th, .buddypress-styles td {
border-top : 1px solid #ddd;
line-height : 18px;
padding : 8px;
text-align : left;
}
.buddypress-styles th {
font-weight : 700;
vertical-align : bottom;
}
.buddypress-styles td {
vertical-align : middle;
}
.buddypress-styles thead:first-child tr th, .buddypress-styles thead:first-child tr td {
border-top : 0;
}
.buddypress-styles tbody + tbody {
border-top : 2px solid #ddd;
}
.buddypress-styles .post dl {
margin-bottom : 18px;
}
.buddypress-styles .muted {
color : #bfbfbf;
}
.buddypress-styles blockquote {
border-left : 5px solid #eee;
margin-bottom : 18px;
padding-left : 15px;
}
.buddypress-styles blockquote small {
color : #bfbfbf;
display : block;
font-size : 85.7%;
font-weight : 300;
line-height : 18px;
}
.buddypress-styles blockquote p {
font-size : 100%;
font-weight : 300;
margin-bottom : 0;
}
.buddypress-styles address {
display : block;
line-height : 18px;
margin-bottom : 18px;
}
.buddypress-styles code, pre {
border-radius : 3px;
padding : 0 3px 2px;
}
.buddypress-styles pre {
border : rgba(0, 0, 0, 0.15) solid 1px;
border-radius : 3px;
display : block;
font-size : 85.7%;
line-height : 18px;
margin : 0 0 18px;
padding : 8.5px;
white-space : pre-wrap;
overflow-wrap : break-word;
}
.buddypress-styles pre code {
background : transparent;
}
.buddypress-styles legend {
border-bottom : 1px solid #eee;
color : #333;
display : block;
font-size : 19.5px;
line-height : 36px;
margin-bottom : 27px;
width : 100%;
}
.buddypress-styles label, input, select, textarea {
line-height : 18px;
margin-bottom : 10px;
}
.buddypress-styles div.padder label {
color : #999;
display : block;
margin : 15px 0;
}
.buddypress-styles label li {
color : inherit;
font-weight : 400;
text-transform : none;
}
.buddypress-styles input[type="image"], .buddypress-styles input[type="checkbox"],.buddypress-styles  input[type="radio"] {
border : none;
cursor : pointer;
height : auto;
line-height : normal;
margin : 0 3px 3px;
padding : 0;
width : auto;
}
.buddypress-styles input[type="file"] {
background-color : initial;
border : initial;
box-shadow : none;
line-height : initial;
padding : initial;
}
.buddypress-styles input[type="button"],.buddypress-styles input[type="reset"],.buddypress-styles  input[type="submit"] {
height : auto;
width : auto;
background: #000;
}
.buddypress-styles select, .buddypress-styles input[type="file"] {
min-height : 27px;
line-height : 27px;
margin-top : 4px;
}
.buddypress-styles select[multiple],.buddypress-styles  select[size] {
height : inherit;
}
.buddypress-styles input[type="image"] {
box-shadow : none;
}
.buddypress-styles textarea {
height : auto;
}
.buddypress-styles .radio,.buddypress-styles  .checkbox {
padding-left : 18px;
}
.buddypress-styles .radio input[type="radio"],.buddypress-styles  .checkbox input[type="checkbox"] {
float : left;
margin-left : -18px;
}
.buddypress-styles input,.buddypress-styles  textarea {
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.1) inset;
padding : 10px;
}
.buddypress-styles input:focus,.buddypress-styles  textarea:focus {
border-color : #ffc600;
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px #ffc600;
outline : 0;
}
.buddypress-styles input[type="file"]:focus,.buddypress-styles  input[type="checkbox"]:focus,.buddypress-styles  select:focus {
box-shadow : none;
outline : 1px dotted #333;
}
.buddypress-styles input.button:active,.buddypress-styles  .button:active {
outline : 0;
position : relative;
top : 1px;
}
.buddypress-styles button.full-width,.buddypress-styles  input[type="submit"].full-width,.buddypress-styles  input[type="reset"].full-width,.buddypress-styles  input[type="button"].full-width {
padding-left : 0 !important ;
padding-right : 0 !important ;
text-align : center;
width : 100%;
}
.buddypress-styles .button, .buddypress-styles .post-tags a,.buddypress-styles .widget_tag_cloud a,.buddypress-styles  input, textarea {
border-radius : 3px;
color : rgb(151, 151, 151);
display : inline-block;
margin-bottom : 2px;
text-decoration : none;
border: rgb(58, 58, 58) solid 1px;
}
.buddypress-styles .post-tags a {
font-size : 10px;
margin-left : 1px;
margin-right : 5px;
padding : 3px 5px;
}
.buddypress-styles .big {
font-size : 16px;
margin-bottom : 10px;
margin-top : 10px;
padding : 14px 10px;
}
.buddypress-styles .huge {
font-size : 20px;
margin-bottom : 15px;
margin-top : 15px;
padding : 16px 12px;
}
.buddypress-styles .widget.widget_tag_cloud a {
font-size : 10px;
margin : 1px;
padding : 5px 8px;
}
.buddypress-styles #archives-subject li {
display : inline;
list-style : disc inside none;
padding-right : 5px;
}
.buddypress-styles #archives-subject ul {
display : inline;
margin : 0;
}
.buddypress-styles #item-buttons * a:before, .activity-meta * a:before, .button:before, .buddypress-styles .generic-button a:before {
display : inline-block;
font-size : 135%;
padding : 0 2px 6px 1px;
}
.buddypress-styles div#item-header div.generic-button,.buddypress-styles  div#item-header a.button {
float : left;
font-size : 85%;
margin : 10px 10px 0 0;
padding : 0 8px;
}
.buddypress-styles #sidebar .sidebar-activity-tabs ul li a {
padding-bottom : 8px;
padding-top : 4px;
text-decoration : none;
}
.buddypress-styles div.item-list-tabs ul li.loading a {
background-position : 88% 50%;
padding-left : 25px !important ;
padding-top : 9px !important ;
}
.buddypress-styles div#message p {
background-color : #FEFAEB;
border : #F1F1F1 solid 1px;
border-radius : 4px 4px 4px 4px;
display : block;
font-size : 85%;
font-weight : 700;
padding : 10px 15px;
}
.buddypress-styles span.highlight, span.activity, .buddypress-styles div#message p, .buddypress-styles .generic-button, .buddypress-styles .activity-list div.activity-meta a {
display : inline-block;
font : bold 11px/12px;
padding : 3px 6px;
text-decoration : none;
}
.buddypress-styles #sidebar div#message p {
padding-left : 10px;
}
.buddypress-styles span.activity {
background : #F9F9F9;
font-size : 85%;
font-weight : 400;
margin-top : 6px;
}
.buddypress-styles .activity-read-more {
margin-left : 5px;
}
.buddypress-styles div#item-header {
margin-bottom : -7px;
overflow : hidden;
padding-bottom : 30px;
padding-top : 15px;
}
.buddypress-styles div#item-header div#item-header-content {
margin-left : 200px;
}
.buddypress-styles div#item-header h2 {
margin : 0 0 5px;
}
.buddypress-styles div#item-header h2 a {
color : #777;
text-decoration : none;
}
.buddypress-styles div#item-header img.avatar {
float : left;
margin : 0 15px 25px 0;
}
.buddypress-styles .achievements div#item-header img.avatar {
max-width : 93%;
}
.buddypress-styles div#item-header span.activity, .buddypress-styles div#item-header h2 span.highlight {
font-size : 85%;
font-weight : 400;
line-height : 170%;
margin-bottom : 7px;
vertical-align : middle;
}
.buddypress-styles div#item-header h2 span.highlight {
font-size : 11.5px;
font-weight : 700;
}
.buddypress-styles div#item-header h2 span.highlight span {
background : #444;
color : #FFF;
cursor : pointer;
display : none;
font-size : 85%;
font-weight : 700;
margin-bottom : 0;
padding : 1px 4px;
position : relative;
right : 0;
top : -1px;
vertical-align : middle;
}
.buddypress-styles div#item-header div#item-meta {
color : #8E8C84;
font-size : 85%;
margin : 15px 0 5px;
overflow : hidden;
padding-bottom : 10px;
}
.buddypress-styles div#item-header div#item-actions {
float : right;
margin : 0 0 15px 15px;
text-align : right;
width : 20%;
}
.buddypress-styles div#item-header div#item-actions h3 {
font-size : 100%;
margin : 0 0 5px;
}
.buddypress-styles div#item-header ul {
margin-bottom : 15px;
overflow : hidden;
}
.buddypress-styles div#item-header ul li {
float : right;
list-style : none outside none;
}
.buddypress-styles div#item-header ul img.avatar,.buddypress-styles  div#item-header ul.avatars img.avatar {
height : 30px;
margin : 2px;
width : 30px;
}
.buddypress-styles div#item-header div#message.info {
line-height : 80%;
}
.buddypress-styles div#item-header div#message.info p {
background : #F9F9F9;
}
.buddypress-styles ul.item-list {
padding : 0;
width : 100%;
}
.buddypress-styles ul.item-list li {
list-style : none outside none;
padding: 25px 0 28px;
position : relative;
}
.buddypress-styles ul.item-list li img.avatar {
float : left;
margin : 0 10px 10px 0;
}
.buddypress-styles ul.item-list li div.item-title,.buddypress-styles  ul.item-list li h4 {
font-weight : 400;
margin : 0;
width : 100%;
}
.buddypress-styles ul.item-list li div.item-title span {
color : #999;
font-size : 100%;
}
.buddypress-styles ul.item-list li div.item-desc {
font-size : 85%;
margin : 10px 0 0 64px;
width : 68%;
}
.buddypress-styles ul.item-list li div.action {
position : absolute;
right : 15px;
text-align : right;
top : 15px;
}
.buddypress-styles ul.item-list li div.meta {
color : #888;
font-size : 85%;
margin-top : 10px;
}
.buddypress-styles #sidebar .item-meta {
position : relative;
}
.buddypress-styles ul.item-list li h5 span.small {
font-size : 85%;
font-weight : 400;
}
.buddypress-styles div.item-list-tabs {
margin-bottom : 10px;
border-bottom : 2px solid #ffc600;
border-top : 2px solid #636262;
clear : both;
min-height : 37px;
padding: 11px 0px 3px 12px;
position : relative;
}
.buddypress-styles .item-list-tabs {
background : none 0 0 repeat scroll #222;
}
.buddypress-styles div.item-list-tabs ul {
margin : 0;
overflow : hidden;
padding : 0;
width : 100%;
}
.buddypress-styles div.item-list-tabs ul li {
float : left;
list-style : none;
margin-right : 5px;
}
.buddypress-styles div.item-list-tabs ul li a:hover {
background : #222;
color : #F55D2D;
}
.buddypress-styles div.item-list-tabs ul li.last {
color : #BFBDBD;
float : right;
font-size : 85%;
margin-bottom : -4px;
text-transform : inherit;
}
.buddypress-styles div.item-list-tabs ul li.last label {
display : inline;
}
.buddypress-styles div.item-list-tabs ul li.last select {
display : inline-block;
margin-left : 8px;
margin-top : 4px;
}
.buddypress-styles div.item-list-tabs ul li a, .buddypress-styles div.item-list-tabs ul li span {
border-radius : 4px 4px 4px 4px;
color : #DDD;
display : block;
font-weight : 500;
padding : 8px 10px;
text-decoration : none;
}
.buddypress-styles div.item-list-tabs ul li a span {
background : none 0 0 repeat scroll #333;
color : rgb(133, 133, 133);
display : inline;
font-size : 75%;
margin-left : 2px;
padding : 2px 5px;
}
.buddypress-styles div.item-list-tabs ul li.selected a,.buddypress-styles  div.item-list-tabs ul li.selected a, .buddypress-styles div.item-list-tabs ul li.current a {
background : none 0 0 repeat scroll #000;
background-color : transparent;
color : #rgb(107, 107, 107);
font-weight : 700;
}

.buddypress-styles div.item-list-tabs ul li.selected a:hover,.buddypress-styles  div.item-list-tabs ul li.selected  a:hover, .buddypress-styles div.item-list-tabs ul li.current a:hover{
color:rgb(70, 70, 70);
}
.buddypress-styles div.item-list-tabs ul li.selected a span,.buddypress-styles  div.item-list-tabs ul li.current a span,.buddypress-styles  div.item-list-tabs ul li a:hover span {
background-color : #444;
}
.buddypress-styles div#subnav.item-list-tabs {
background : transparent;
border-bottom : 1px solid #E6E6E6;
border-top : 0 solid;
font-family : inherit;
margin-bottom : 20px;
overflow : hidden;
}
.buddypress-styles div#subnav.item-list-tabs ul li a:hover {
background : transparent;
color : #222;
}
.buddypress-styles .item-body {
margin : 20px 0;
}
.buddypress-styles div.dir-search {
left : 65%;
margin-top : -60px;
padding-bottom : 40px;
position : relative;
width : 51%;
}
.buddypress-styles .dir-form {
margin-bottom : -10px;
}
.buddypress-styles div.dir-search input[type="text"] {
display : inline-block;
margin-right : 10px;
}
.buddypress-styles .dir-form h3 .button {
margin-bottom : 0;
margin-top : 0;
padding : 2px 12px;
font-size : 13px;
}
.buddypress-styles .dir-form .info-box {
float : left;
margin-top : 10px;
}
.buddypress-styles div.pagination#user-pag, .buddypress-styles .friends div.pagination,.buddypress-styles  .mygroups div.pagination,.buddypress-styles  .myblogs div.pagination,.buddypress-styles  noscript div.pagination {
background : #f8f8f8;
border : none;
padding : 8px 15px;
}
.buddypress-styles div.pagination .pag-count {
float : none;
font-size:13px;
line-height : 5px;
}
.buddypress-styles div.pagination .pagination-links span, div.pagination .pagination-links a {
padding : 0 5px;
}
.buddypress-styles div.item-options {
border-bottom : 1px solid #F2F2F2;
color : #DDD;
font-size : 12px;
font-weight : normal;
margin-top : -15px;
text-transform : none;
}
.buddypress-styles div.item-options a {
color : #333;
font-weight : normal;
padding-bottom : 2px;
padding-top : 2px;
}
.buddypress-styles div.item-avatar img {
background : none 0 0 repeat scroll #F5FDFF;
border : #EBEBEB solid 1px;
display : block;
float : left;
margin : 5px 5px 5px 0;
}
.buddypress-styles div#message {
margin : 15px 0;
}
.buddypress-styles div.pending a, .buddypress-styles a.disabled {
border-color : #eee;
color : #bbb;
cursor : default;
}
.buddypress-styles div.pending a:hover,.buddypress-styles  a.disabled:hover {
border-color : #eee;
color : #bbb;
}
.buddypress-styles div.accept, .buddypress-styles div.reject {
float : left;
margin-left : 10px;
}
.buddypress-styles ul.button-nav {
clear : both;
height : 45px;
padding-left : 0;
}
.buddypress-styles ul.button-nav li a {
float : left;
font-weight : 700;
margin : 0 10px 10px 0;
padding : 8px 10px;
}
.buddypress-styles ul.button-nav li.current a {
background : none 0 0 repeat scroll #EFEFEF;
border : #DDD solid 1px;
border-radius : 3px 3px 3px 3px;
margin-bottom : 20px;
}
.buddypress-styles .ajax-loader {
background-image : url(ajax-loader.gif) !important ;
background-position : 95% 50% !important ;
background-repeat : no-repeat !important ;
display : none;
padding-right : 25px !important ;
}
.buddypress-styles a.loading, li.loading a,.buddypress-styles  #object-nav a.loading,.buddypress-styles  #object-nav li.loading {
background-image : url(ajax-loader.gif) !important ;
background-position : 5% 50% !important ;
background-repeat : no-repeat !important ;
padding-left : 25px !important ;
}
.buddypress-styles form.standard-form #basic-details-section input[type="password"],.buddypress-styles  form.standard-form #blog-details-section input#signup_blog_url {
width : 35%;
margin-bottom : 10px;
}
.buddypress-styles form.standard-form#signup_form input[type="text"],.buddypress-styles  form.standard-form#signup_form textarea {
width : 85%;
}
.buddypress-styles div#signup-avatar img {
margin : 0 15px 10px 0;
}
.buddypress-styles form.standard-form textarea {
height : 120px;
width : 75%;
}
.buddypress-styles form.standard-form textarea#message_content {
height : 200px;
}
.buddypress-styles form.standard-form#send-reply textarea {
width : 97.5%;
}
.buddypress-styles form.standard-form p.description {
color : #888;
font-size : 85%;
font-style : italic;
margin : -5px 0 15px;
}
.buddypress-styles form.standard-form div.submit {
clear : both;
padding : 15px 0;
}
.buddypress-styles form.standard-form div.radio ul {
list-style : disc;
margin : 10px 0 15px 38px;
}
.buddypress-styles form.standard-form div.radio ul li {
margin-bottom : 5px;
}
.buddypress-styles form.standard-form a.clear-value {
display : block;
margin-top : 5px;
outline : none;
}
.buddypress-styles form.standard-form #basic-details-section, .buddypress-styles form.standard-form #blog-details-section,.buddypress-styles  form.standard-form #profile-details-section {
float : left;
width : 100%;
}
.buddypress-styles form.standard-form #blog-details-section {
clear : left;
}
.buddypress-styles form.standard-form input:focus, .buddypress-styles form.standard-form textarea:focus,.buddypress-styles  form.standard-form select:focus {
background : #fafafa;
color : #555;
}
.buddypress-styles form#send-invite-form {
margin-top : 20px;
}
.buddypress-styles div#invite-list {
background : #f5f5f5;
border : #e4e4e4 solid 1px;
height : 400px;
margin : 10px 0;
overflow : scroll;
padding : 5px;
width : 160px;
}
.buddypress-styles .action .button {
font-size : 75%;
padding : 3px 8px;
}
.buddypress-styles .profile-fields {
border : none 0;
font-size : inherit;
}
.buddypress-styles table tr td.thread-info p.thread-excerpt {
color : #888;
font-size : 85%;
margin-top : 3px;
}
.buddypress-styles div#sidebar table td, table.forum td {
text-align : center;
}
.buddypress-styles table.notification-settings {
margin-bottom : 20px;
text-align : left;
}
.buddypress-styles table.notification-settings th.title {
width : 80%;
}
.buddypress-styles table.notification-settings .yes, .buddypress-styles table.notification-settings .no {
text-align : center;
width : 40px;
}
.buddypress-styles table.forum tr > td:first-child, .buddypress-styles table.forum tr > th:first-child {
padding-left : 20px;
}
.buddypress-styles .forums .pagination {
padding : 10px 10px 10px 20px;
}
.buddypress-styles table.forum {
border : #FEF8F8 solid 1px;
margin : 0 -18px;
width : auto;
}
.buddypress-styles table.forum tr.sticky td {
background : #FFF9DB;
border-bottom : 1px solid #FFE8C4;
border-top : 1px solid #FFE8C4;
}
.buddypress-styles table.forum tr.closed td.td-title {
background-position : 15px 50%;
background-repeat : no-repeat;
padding-left : 35px;
}
.buddypress-styles table.forum td p.topic-text {
color : #888;
font-size : 85%;
}
.buddypress-styles table.forum tr > td:last-child,.buddypress-styles  table.forum tr > th:last-child {
padding-right : 20px;
}
.buddypress-styles table.forum tr th#th-title,.buddypress-styles  table.forum tr th#th-poster, table.forum tr th#th-group,.buddypress-styles  table.forum td.td-poster, table.forum td.td-group,.buddypress-styles  table.forum td.td-title {
text-align : left;
}
.buddypress-styles table.forum td img.avatar {
display : none;
margin-right : 5px;
}
.buddypress-styles table.forum td.td-poster,.buddypress-styles  table.forum td.td-group {
min-width : 130px;
}
.buddypress-styles table.forum th#th-title {
width : 40%;
}
.buddypress-styles table.forum th#th-postcount {
width : 1%;
}
.buddypress-styles table.forum th#th-freshness {
text-align : center;
width : 10%;
}
.buddypress-styles #item-body form#whats-new-form {
border : none;
border-bottom : 1px solid #CBCAC8;
margin-top : -20px;
padding-bottom : 20px;
padding-top : 20px;
}
.buddypress-styles #whats-new-form {
margin-bottom : 30px;
}
.buddypress-styles .home-page form#whats-new-form {
border-bottom : none;
padding-bottom : 0;
}
.buddypress-styles form#whats-new-form h5 {
color : #555;
font-size : 1.2em;
font-weight : 700;
line-height : 25px;
margin : 0 0 13px 76px;
padding : 0;
}
.buddypress-styles form#whats-new-form #whats-new-content {
margin-left : 54px;
padding-left : 22px;
}
.buddypress-styles form#whats-new-form textarea {
font-family : inherit;
font-size : 110%;
height : 60px !important ;
margin : 0;
width : 97%;
margin-bottom : 20px;
}
.buddypress-styles form#whats-new-form #whats-new-options select {
max-width : 200px;
}
.buddypress-styles #whats-new-options {
height : 0;
overflow : hidden;
}
.buddypress-styles ul.activity-list li {
overflow : hidden;
padding : 20px 0 0;
}
.buddypress-styles ul.activity-list > li:first-child {
padding-top : 20px;
}
.buddypress-styles ul.activity-list li.has-comments {
padding-bottom : 20px;
}
.buddypress-styles .activity-list li.mini {
padding : 12px 0 0;
position : relative;
}
.buddypress-styles .activity-list li.mini .activity-avatar img.avatar,.buddypress-styles  .activity-list li.mini .activity-avatar img.fb_profile_pic {
height : 40px;
margin-bottom : 20px;
width : 40px;
}
.buddypress-styles .activity-list li.activity_comment .activity-avatar img.avatar, .buddypress-styles .activity-list li.activity_comment .activity-avatar img.fb_profile_pic {
height : 40px;
margin-left : 20px;
width : 40px;
}
.buddypress-styles body.activity-permalink .activity-list li .activity-avatar img.avatar, .buddypress-styles body.activity-permalink .activity-list li .activity-avatar img.fb_profile_pic {
height : 100px;
margin-left : 0;
width : 100px;
}
.buddypress-styles .activity-list li.mini .activity-content {
margin-right : 175px;
}
.buddypress-styles .activity-list li.mini .activity-content p {
float : left;
margin : 3px 0 0;
width : 84%;
}
.buddypress-styles .activity-list li.mini .activity-meta {
position : absolute;
right : 20px;
top : 15px;
}
.buddypress-styles body.activity-permalink .activity-list li.mini .activity-meta {
position : absolute;
right : 15px;
}
.buddypress-styles .activity-list li.mini .activity-comments {
clear : left;
font-size : 100%;
margin-top : 30px;
}
.buddypress-styles .activity-list li .activity-inreplyto {
color : #A6A6A6;
font-size : 85%;
margin-bottom : 15px;
margin-top : 20px;
padding-left : 25px;
}
.buddypress-styles .activity-list li .activity-inreplyto > p {
display : inline;
margin : 0;
}
.buddypress-styles .activity-list li .activity-inreplyto blockquote,.buddypress-styles  .activity-list li .activity-inreplyto div.activity-inner {
background : none;
border : none;
display : inline;
margin : 0;
overflow : hidden;
padding : 0;
}
.buddypress-styles .activity-list .activity-content {
margin-left : 70px;
margin-top : -20px;
}
.buddypress-styles body.activity-permalink .activity-list li .activity-content {
font-size : 130%;
line-height : 150%;
margin-left : 106px;
margin-right : 0;
margin-top : -25px;
min-height : 35px;
padding : 15px;
}
.buddypress-styles body.activity-permalink .activity-list li .activity-header > p {
height : 35px;
margin-bottom : 0;
margin-left : -35px;
padding : 5px 0 0 38px;
}
.buddypress-styles .activity-list .activity-content .activity-header, .activity-list .activity-content .comment-header {
color : #8E8C84;
font-size : 85%;
line-height : 180%;
}
.buddypress-styles .activity-list .activity-content .activity-header img.avatar {
border-radius : 6px;
float : none !important ;
margin : 0 5px -8px 0 !important ;
padding : 0;
}
.buddypress-styles .activity-list .activity-content a:first-child:focus {
outline : none;
}
.buddypress-styles .activity-list .activity-content span.time-since {
color : #bbb;
}
.buddypress-styles .activity-list .activity-content span.activity-header-meta a {
background : none;
border : none;
color : #777;
font-size : 85%;
margin : 0;
padding : 0;
text-decoration : underline;
}
.buddypress-styles .activity-list .activity-content span.activity-header-meta a:hover {
color : inherit;
text-decoration : none;
}
.buddypress-styles .activity-list .activity-content .activity-inner, .buddypress-styles .activity-list .activity-content blockquote {
background: none 0 0 repeat scroll rgb(36, 36, 36);
border: rgb(71, 71, 71) solid 1px;
box-shadow: 0 1px 1px rgba(149, 149, 149, 0.17);
margin: 15px 0 15px 5px;
overflow: hidden;
padding: 10px;
border-radius: 5px;
}
.buddypress-styles .activity-inner img {
height : auto;
max-width : 100% !important ;
}
.buddypress-styles .activity-list .activity-content img.thumbnail {
border : #eee solid 2px;
float : left;
margin : 0 10px 5px 0;
}
.buddypress-styles .activity-list li.load-more {
background : #f0f0f0;
border-bottom : 1px solid #ddd;
border-right : 1px solid #ddd;
font-size : 1.2em;
margin : 15px 0;
min-height : 40px;
padding : 10px 15px;
text-align : center;
}
.buddypress-styles .activity-list li.load-more a {
color : #555;
}
.buddypress-styles .activity-permalink div.activity {
margin-left : 30px;
margin-right : 10px;
margin-top : 20px;
}
.buddypress-styles div.activity-meta {
clear : left;
margin : 0 0 20px 3px;
}
.buddypress-styles .activity-list div.activity-meta a {
color: rgb(151, 151, 151);
font-size : 70%;
padding: 4px 12px;
}
.buddypress-styles div.activity-comments {
margin : 0 0 0 75px;
overflow : hidden;
position : relative;
width : auto;
}
.buddypress-styles body.activity-permalink div.activity-comments {
background : none;
margin-left : 135px;
width : auto;
}
.buddypress-styles div.activity-comments ul, div.activity-comments ul li {
border : none;
list-style : none;
}
.buddypress-styles div.activity-comments ul {
clear : left;
padding : 0;
}
.buddypress-styles div.activity-comments ul li {

padding : 5px;
}
.buddypress-styles body.activity-permalink div.activity-comments ul li {
border-width : 1px;
padding : 10px 0 0;
}
.buddypress-styles div.activity-comments ul li p:last-child {
margin-bottom : 10px;
}
.buddypress-styles div.activity-comments > ul > li:first-child {
border-top : none;
}
.buddypress-styles div.activity-comments ul li > ul {
margin-left : 20px;
margin-top : 0;
}
.buddypress-styles body.activity-permalink div.activity-comments ul li > ul {
margin-top : 15px;
}
.buddypress-styles div.activity-comments div.acomment-avatar img {
float : left;
height : 30px;
margin-right : 10px;
width : 30px;
}
.buddypress-styles div.activity-comments div.acomment-content {
font-size : 95%;
margin-left : 49px;
margin-top : 5px;
}
.buddypress-styles #content div.activity-comments li {

padding : 10px 15px;
}
.buddypress-styles div.acomment-options a {
font-size : 80%;
padding : 0 10px;
}
.buddypress-styles div.activity-comments form.ac-form {
display : none;
margin : 10px 0 10px 33px;
padding : 8px;
}
.buddypress-styles div.activity-comments form.root {
margin-left : 0;
}
.buddypress-styles div.activity-comments div#message {
margin-bottom : 0;
margin-top : 15px;
}
.buddypress-styles div.activity-comments form.loading {
background-position : 2% 95%;
background-repeat : no-repeat;
}
.buddypress-styles div.activity-comments form .ac-textarea {
margin-bottom : 10px;
padding : 8px;
}
.buddypress-styles div.activity-comments form textarea {
border : none;
color : #555;
font-family : inherit;
font-size : 85%;
height : 60px;
padding : 2%;
width : 98%;
line-height:1.4em;
}
.buddypress-styles div.activity-comments form div.ac-reply-avatar {
float : left;
height : 25px;
width : 25px;
}
.buddypress-styles div.acomment-avatar img {
height : 40px;
width : 40px;
}
.buddypress-styles div.ac-reply-avatar img {
height : 25px;
width : 25px;
}
.buddypress-styles div.activity-comments form div.ac-reply-content {
color : #888;
font-size : 85%;
margin-left : 25px;
padding-left : 15px;
}
.buddypress-styles table#message-threads {
border : none 0;
font-size : 95%;
margin-bottom : 20px;
margin-top : 20px;
padding : 0;
}
.buddypress-styles table#message-threads th + th, table#message-threads td + td {
border-left : 0 solid #F2F2F2;
}
.buddypress-styles table#message-threads tr.unread td {
background : #FFF9DB;
border-bottom : 1px solid #FFE8C4;
border-top : 1px solid #FFE8C4;
font-weight : 700;
}
.buddypress-styles table#message-threads tr.unread td span.activity {
background : #fff;
}
.buddypress-styles li span.unread-count,.buddypress-styles  tr.unread span.unread-count {
background : none 0 0 repeat scroll #D00;
border-radius : 3px 3px 3px 3px;
color : #FFF;
font-size : 85%;
font-weight : 700;
left : 4px;
padding : 2px 6px;
position : relative;
}
.buddypress-styles div.item-list-tabs ul li a span.unread-count {
color : #fff;
padding : 1px 6px;
}
.buddypress-styles .messages .avatar {
height : 45px;
width : 45px;
}
.buddypress-styles .messages th, .buddypress-styles .messages td {
border-top : 1px solid #F4F4F4;
line-height : 18px;
padding : 15px 10px 15px 0;
text-align : left;
}
.buddypress-styles div.messages-options-nav {
background : transparent;
border-bottom : 1px solid #DDD;
border-top : 1px solid #DDD;
font-size : 85%;
padding : 8px 15px;
text-align : right;
}
.buddypress-styles .thread-options .button {
font-size : 85%;
left : 10px;
line-height : 21px;
padding : 0 7px;
position : relative;
}
.buddypress-styles div#message-thread div.message-box {
margin : 0 -20px;
padding : 15px;
}
.buddypress-styles div#message-thread div.alt {
background : #f4f4f4;
}
.buddypress-styles div#message-thread p#message-recipients {
margin : 10px 0 20px;
}
.buddypress-styles div#message-thread img.avatar {
float : left;
margin : 0 10px 0 0;
vertical-align : middle;
}
.buddypress-styles div#message-thread strong {
font-size : 110%;
margin : 0;
}
.buddypress-styles div#message-thread strong a {
text-decoration : none;
}
.buddypress-styles div#message-thread strong span.activity {
margin : 4px 0 0 10px;
}
.buddypress-styles div#message-thread div.message-content {
margin-left : 55px;
}
.buddypress-styles div#message-thread div.message-options {
text-align : right;
}
.buddypress-styles #message-threads .thread-avatar {
width : 8%;
}
.buddypress-styles ul#topic-post-list {
margin-top : 15px;
width : auto;
}
.buddypress-styles ul#topic-post-list li {
padding : 15px 15px 15px 0;
position : relative;
}
.buddypress-styles ul#topic-post-list li div.poster-meta {
color : #888;
margin-bottom : 10px;
}
.buddypress-styles ul#topic-post-list li div.post-content {
margin-left : 54px;
}
.buddypress-styles div.admin-links {
color : #888;
font-size : 85%;
position : absolute;
right : 25px;
top : 15px;
}
.buddypress-styles div#topic-meta div.admin-links {
bottom : 4px;
right : 0;
top : auto;
}
.buddypress-styles div#topic-meta {
padding : 5px 0;
position : relative;
}
.buddypress-styles div#new-topic-post {
margin : 0;
padding : 1px 0 0;
}
.buddypress-styles .jcrop-holder img, #avatar-crop-pane img {
max-width : none;
}
.buddypress-styles table.show-for-xlarge, table.show-for-large, table.hide-for-small, table.hide-for-medium {
display : table !important ;
}
.buddypress-styles h1.icext-feature.icext-header-logo a, div.icext-feature.icext-header-logo a {
display : block;
margin : 0;
position : absolute;
}
.buddypress-styles div#icext-16f6e2e3 a, h1#icext-16f6e2e3 a {
left : inherit;
position : absolute;
}
.buddypress-styles div.addthis_toolbox {
padding-top : 10px;
}
.buddypress-styles .ri-grid {
background : #222;
height : auto;
margin : inherit;
position : relative;
}
.buddypress-styles .ri-grid ul {
display : block;
list-style : none;
margin : 0;
padding : 0;
width : 100%;
}
.buddypress-styles .ri-grid ul li {
background : #000;
display : block;
float : left;
margin : 0;
overflow : hidden;
padding : 0;
perspective : 400px;
position : relative;
}
.buddypress-styles .ri-grid ul li a {
background-color : #333;
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
box-sizing : content-box;
display : block;
height : 100%;
left : 0;
outline : none;
position : absolute;
top : 0;
width : 100%;
}
.buddypress-styles .ri-grid-size-1 {
width : 55%;
}
.buddypress-styles .ri-grid-size-2 {
width : 100%;
}
.buddypress-styles .ri-grid-size-3 {
margin-top : 0;
width : 100%;
}
.buddypress-styles .ri-shadow:after, .buddypress-styles .ri-shadow:before {
bottom : 15px;
box-shadow : 0 15px 10px rgba(0, 0, 0, 0.7);
height : 20%;
left : 10px;
max-height : 100px;
max-width : 300px;
position : absolute;
transform : rotate(-3deg);
width : 50%;
z-index : -2;
}
.buddypress-styles .ri-shadow:after {
left : auto;
right : 10px;
transform : rotate(3deg);
}
.buddypress-styles .ri-grid:after,.buddypress-styles  .ri-grid:before {
bottom : 15px;
box-shadow : 0 15px 10px rgba(0, 0, 0, 0.7);
height : 20%;
left : 10px;
max-height : 100px;
max-width : 300px;
position : absolute;
transform : rotate(-3deg);
width : 50%;
z-index : -2;
}
.buddypress-styles #activity-tour-favorites {
left : 30%;
position : relative;
top : 211px;
}
.buddypress-styles body.theme-option #wrapper {
max-width : 1020px;
}
.buddypress-styles #item-body form#whats-new-form h5 {
color : #8E8C84;
font-size : 12px;
font-style : italic;
font-weight : 400;
}
.buddypress-styles div.item-options a:hover {
color : #F55D2D;
}
.buddypress-styles #content .activity-list li.load-more:hover a {
color : #DDD;
}
.buddypress-styles .item-list-tabs li.loading a {
padding-left : 25px !important ;
}
.buddypress-styles #content ul.item-list li {
border-bottom : 1px solid #F8F8F8;
}
.buddypress-styles img.avatar,.buddypress-styles  ul.item-list li img.avatar {
border : 0;
border-radius : 3px 3px 3px 3px;
margin-left : 0;
padding : 0;
}
.buddypress-styles #footer ul.item-list li {
border-bottom : 1px solid #303030;
padding : 15px 0;
position : relative;
}
.buddypress-styles #footer img.avatar {
background : none 0 0 repeat scroll #2C2B2B;
border : #525252 solid 1px;
}
.buddypress-styles #footer span.activity {
background : none 0 0 repeat scroll #222;
color : #999;
font-style : italic;
}
.buddypress-styles #footer div.item-options {
background : none 0 0 repeat scroll #222;
border-bottom : 1px solid #111;
}
div.activity-type-tabs ul li a, div.activity-type-tabs ul li span {
display : block;
padding : 4px 8px 5px;
text-decoration : none;
}
.buddypress-styles div#user-pag.pagination, .friends div.pagination,.buddypress-styles  .mygroups div.pagination,.buddypress-styles  .myblogs div.pagination,.buddypress-styles  noscript div.pagination {
background : none 0 0 repeat scroll transparent;
border : none medium;
color : #999;
font-size : 11.5px;
font-style : normal;
margin-bottom : 12px;
padding : 0;
}
.buddypress-styles span.activity, .buddypress-styles ul.item-list li div.meta,.buddypress-styles  div.bbp-template-notice {
color : #878787;
font-size : 75%;
font-style : italic;
}
.buddypress-styles table tr + tr td {
border-top : 1px solid #F1F1F1;
}
.buddypress-styles table th {
border-bottom : 1px solid #F1F1F1;
}
.buddypress-styles .topic-meta {
font-size : 11.5px;
margin : 0;
}
.buddypress-styles #item-header-avatar img {
border-radius : 8px;
}
.buddypress-styles #latest-update {
padding : 10px;
width : 90%;
}
.buddypress-styles div#topic-meta h3 {
font-size : 23px;
line-height : 40px;
}
.buddypress-styles #forum-topic-form .pagination {
border-bottom : 1px solid #EAEAEA;
border-top : 1px solid #EAEAEA;
color : #8E8C84;
font-size : 11px;
height : 13px;
margin-top : 12px;
padding : 2px 10px 10px 0;
}
.buddypress-styles div#post-mention a.mention, a.send-message {
color : inherit;
}
.buddypress-styles #sidebar #message p strong {
color : #F55D2D;
font-size : 14px;
line-height : 40px;
margin-bottom : 5px;
}
.buddypress-styles #sidebar-me,.buddypress-styles  #bp-login-widget {
border-bottom : 1px solid #E6E6E6;
box-shadow : 1px 3px 3px rgba(230, 228, 228, 0.4);
font-size : 11.5px;
margin-top : -25px;
overflow : hidden;
padding-bottom : 6px;
padding-top : 15px;
}
.buddypress-styles #bp-profile li a {
color : #333;
font-style : italic;
}
.buddypress-styles #bp-activity, .buddypress-styles #bp-friends, .buddypress-styles #bp-groups,.buddypress-styles  #bp-messages, .bp-user-link {
margin-bottom : 0.5em;
}
.buddypress-styles .bp-user-link,.buddypress-styles  #bp-activity,.buddypress-styles  #bp-friends,.buddypress-styles  #bp-groups, #bp-messages,.buddypress-styles  #bp-avatar, #bp-profile {
float : left;
list-style : none;
margin-bottom : 10px;
margin-left : 0;
}
.buddypress-styles #bp-activity, #bp-friends,.buddypress-styles  #bp-groups, #bp-messages {
margin-bottom : 0;
margin-right : 10px;
padding : 0;
width : 72px;
}
.buddypress-styles .bp-user-link {
font-size : large;
width : 280px;
}
.buddypress-styles .bp-module-title {
font-size : 13px;
}
.buddypress-styles #sidebar-me a:hover {
margin-bottom : 2px;
opacity : 0.699999988079071044921875;
}
.buddypress-styles #side-user-login,.buddypress-styles  #sidebar-user-pass {
font-size : 12px;
padding : 4px;
width : 86% !important ;
}
.buddypress-styles #sidebar-login-form #sidebar-wp-submit {
float : right;
height : 28px;
margin-right : 29px;
margin-top : 2px;
padding : 3px 10px;
}
.buddypress-styles #bp-connect-buttons {
background : #F9F9F9;
border-bottom : 1px solid #DDD;
border-top : 1px solid #DDD;
margin : 50px -20px -7px;
padding-left : 20px;
}
.buddypress-styles .fb_button_small, .fb_button_small_rtl {
margin-bottom : 10px;
margin-top : 10px;
}
.buddypress-styles #bp-avatar img {
float : left;
height : 50px;
margin-right : 10px;
width : 50px;
}
.buddypress-styles form.standard-form textarea,.buddypress-styles  #bbp_topic_content form.standard-form input[type="text"],.buddypress-styles  form.standard-form select,.buddypress-styles  form.standard-form input[type="password"],.buddypress-styles  .dir-search input[type="text"],.buddypress-styles  #bbp_topic_title, #bbp_topic_content,.buddypress-styles  #bbp_topic_tags, #comment, .buddypress-styles select {
font-family : inherit;
font-size-adjust : inherit;
font-stretch : inherit;
font-style : inherit;
font-variant : inherit;
font-weight : inherit;
line-height : inherit;
margin-top : 5px;
padding : 5px !important ;
}
.buddypress-styles ul#link-list div.link-list-footer {
clear : left;
margin-bottom : 20px;
margin-top : 8px;
padding-top : 10px;
}
.buddypress-styles #link-dir-search {
margin-top : -80px;
}
.buddypress-styles ul#link-list li div.link-share-panel {
background-color : #F8F8F8;
border : #DDD solid 1px;
width : 300px;
}
.buddypress-styles #link-list legend {
border-bottom : 1px solid #EEE;
color : #666;
display : block;
font-size : 12px;
font-weight : 700;
line-height : 24px;
margin-bottom : 9px;
width : 100%;
}
.buddypress-styles body.links #subnav ul li a {
font-size : 85%;
}
.buddypress-styles .item-list-tabs #links-order-by {
background : none 0 0 repeat scroll #111;
border : #333 solid 1px;
box-shadow : none;
color : #DDD;
display : inline-block;
margin-left : 8px;
margin-top : 4px;
max-width : 110px;
padding : 0;
}
.buddypress-styles #link-details-form {
margin-top : 30px;
}
.buddypress-styles #link-details-form fieldset legend {
background : none 0 0 repeat scroll #F0F0F0;
border : #DDD solid 1px;
border-radius : 3px 3px 3px 3px;
font-size : 100%;
font-weight : 700;
margin-top : 25px;
padding : 0 15px;
text-align : center;
width : auto;
}
.buddypress-styles #link-details-form fieldset legend a {
color : #333;
font-weight : 700;
}
.buddypress-styles #link-details-form fieldset {
border : #DDD solid 1px;
border-radius : 4px 4px 4px 4px;
display : block;
margin : 0 0 20px;
padding : 0 0 15px 15px;
width : 65%;
}
.buddypress-styles .bpfb_form_container {
padding : 0 !important ;
}
.buddypress-styles #whats-new-content .bpfb_toolbaritem {
height : 19px;
}
.buddypress-styles #whats-new-content #bpfb_addphotos {
margin-right : -3px;
padding-bottom : 0;
padding-top : 8px;
}
.buddypress-styles #whats-new-content #bpfb_addvideos {
margin-right : -7px;
padding-bottom : 0;
padding-top : 13px;
}
.buddypress-styles #whats-new-content #bpfb_addlinks {
padding-bottom : 0;
padding-top : 13px;
}
.buddypress-styles #whats-new-content #bpfb_video_url,.buddypress-styles  #whats-new-content #bpfb_link_preview_url, .buddypress-styles #whats-new-content .bpfb_remote_image {
margin-top : 10px;
width : 60% !important ;
}
.buddypress-styles #whats-new-content .qq-uploader {
margin-top : 10px;
}
.buddypress-styles #whats-new-content #bpfb_tmp_photo_list {
background : none 0 0 repeat scroll #F5FDFF;
color : #878787;
font-style : italic;
}
.buddypress-styles #whats-new-content #bpfb_addphotos img,.buddypress-styles  #whats-new-content #bpfb_addvideos img, .buddypress-styles #whats-new-content #bpfb_addlinks img {
opacity : 0;
}
.buddypress-styles #whats-new-content div.bpfb_preview_container object embed {
width : 500px !important ;
}
.buddypress-styles .bbp-replies .avatar {
float : none;
}
.buddypress-styles .bbp-forum-description, .buddypress-styles .bbp-topic-meta {
color : #777;
margin-top : 10px;
}
.buddypress-styles .buddypress-styles .bbp-reply-content a {
color : #DDD;
font-weight : 700;
}
.buddypress-styles #infinity-base #bbpress-forums .bbp-header,.buddypress-styles  #infinity-base #bbpress-forums li.bbp-header {
border-bottom : 1px solid #444;
box-shadow : 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
color : #FFF;
font-size : 80%;
padding : 10px 20px;
text-transform : uppercase;
}
.buddypress-styles div.bbp-breadcrumb {
border-bottom : 1px solid #F1F1F1;
border-top : 1px solid #F2F0F0;
}
.buddypress-styles thead:first-child tr th a,.buddypress-styles  thead:first-child tr td a {
color : #FFF;
font-weight : 700;
text-transform : uppercase;
}
.buddypress-styles div.bbp-topic-tags {
float : right;
margin-bottom : 20px;
margin-top : -44px;
padding-bottom : 1px;
padding-left : 10px;
padding-right : 10px;
}
.buddypress-styles #content th.bbp-topic-author,.buddypress-styles  #content th.bbp-reply-author {
text-align : center;
width : 100px;
}
.buddypress-styles #content td.bbp-topic-author,.buddypress-styles  #content td.bbp-reply-author {
border-right : 1px solid #F5F1F1;
}
.buddypress-styles #content div.bbp-breadcrumb p,.buddypress-styles  #content div.bbp-topic-tags p {
background : #FFF;
border-bottom : 1px solid #EFEFEF;
border-top : 1px solid #F4F2F2;
margin-left : -25px;
margin-right : -25px;
padding : 10px 30px;
}
.buddypress-styles #content div.bbp-topic-tags p {
color : #777;
margin-bottom : 17px;
margin-top : -37px;
}
.buddypress-styles .bbp-pagination-count {
color : #888;
font-size : 12px;
font-style : italic;
}
.buddypress-styles #bbp_reply_submit {
font-size : 16px;
margin-bottom : -28px;
padding : 8px 20px;
position : relative;
top : -96px;
}
.buddypress-styles .bbpress .entry .bbp-author-avatar .avatar {
border : 0;
margin : 0;
padding : 0;
}
.buddypress-styles body.theme-option div.addthis_toolbox {
height : 20px;
}
.buddypress-styles .post dl dt,.buddypress-styles  div.pagination .pagination-links a:hover, .buddypress-styles .bp-user-link, .bp-module-title,.buddypress-styles  #content div.bbp-topic-tags p a {
font-weight : 700;
}
.buddypress-styles label ul, .activity-list .activity-header a:first-child,.buddypress-styles  #invite-list ul,.buddypress-styles  #content p.bbp-topic-meta img.avatar,.buddypress-styles  #content ul.bbp-reply-revision-log img.avatar,.buddypress-styles  #content ul.bbp-topic-revision-log img.avatar,.buddypress-styles  #content div.bbp-template-notice img.avatar,.buddypress-styles  #content .widget_display_topics img.avatar,.buddypress-styles  #content .widget_display_replies img.avatar, .buddypress-styles #content p.bbp-topic-meta img.avatar,.buddypress-styles  #main ul.bbp-reply-revision-log img.avatar, .buddypress-styles #main ul.bbp-topic-revision-log img.avatar, .buddypress-styles #main div.bbp-template-notice img.avatar, .buddypress-styles #main .widget_display_topics img.avatar, .buddypress-styles #main .widget_display_replies img.avatar,.buddypress-styles  #main p.bbp-topic-meta img.avatar,.buddypress-styles  #container ul.bbp-reply-revision-log img.avatar,.buddypress-styles  #container ul.bbp-topic-revision-log img.avatar,.buddypress-styles  #container div.bbp-template-notice img.avatar,.buddypress-styles  #container .widget_display_topics img.avatar,.buddypress-styles  #container .widget_display_replies img.avatar {
padding : 0;
}
.buddypress-styles .buddypress-styles .generic-button a:hover,.buddypress-styles  .buddypress-styles ul.single-line li {
border : none;
}
.buddypress-styles .buddypress-styles .generic-button a,.buddypress-styles  .buddypress-styles .topic-meta a {
color : #444;
}
.buddypress-styles div#object-nav ul li a,.buddypress-styles  div.activity-type-tabs li a {
padding : 9px 6px 8px !important ;
text-decoration : none;
font-size : 13px;
}
.buddypress-styles .activity-header p,.buddypress-styles  div.activity-comments ul li:last-child {
margin-bottom : 0;
}
.buddypress-styles div#item-header ul h5,.buddypress-styles  div#item-header ul span, div#item-header ul hr,.buddypress-styles  table.notification-settings th.icon,.buddypress-styles  table.notification-settings td:first-child,.buddypress-styles  div.acomment-content .time-since, .buddypress-styles div.acomment-content .activity-delete-link,.buddypress-styles  div.acomment-content .comment-header, .buddypress-styles .ri-grid-loading:after, .ri-grid-loading:before, #bp-connect-buttons p,.buddypress-styles  div.bbp-template-notice.info {
display : none;
}
.buddypress-styles .widget img.avatar,.buddypress-styles  .item-avatar,.buddypress-styles  form#whats-new-form #whats-new-avatar, .buddypress-styles img.avatar,.buddypress-styles  .sidebar-login-button {
float : left;
}
.buddypress-styles li#activity-filter-select label,.buddypress-styles  div.dir-search label {
display : inline-block;
}
.buddypress-styles div.item-list-tabs ul li span,.buddypress-styles  div.item-list-tabs ul li a:hover,.buddypress-styles  div.item-list-tabs ul li span:hover {
color : #ccc;
}
.buddypress-styles div.item-list-tabs#subnav ul li,.buddypress-styles  div.item-list-tabs#object-nav,.buddypress-styles  div#pag-bottom {
margin-top : 0;
margin-bottom : 10px;
}
.buddypress-styles div#subnav.item-list-tabs ul li a,.buddypress-styles  .bp-module-link a {
color : #333;
font-size : 13px;
}
.buddypress-styles #content .item-title a, .buddypress-styles body.activity-permalink div.activity-comments div.acomment-content {
font-size : 120%;
}
.buddypress-styles div.pagination .pagination-links,.buddypress-styles  form#whats-new-form #whats-new-submit {
float : right;
margin-top : -10px;
}
.buddypress-styles .avatar-block, div#message-thread div.message-metadata {
overflow : hidden;
}
.buddypress-styles div#message.updated,.buddypress-styles  .ri-grid ul:after {
clear : both;
}
.buddypress-styles ul.button-nav li,.buddypress-styles  #invite-list ul li {
list-style : none;
}
.buddypress-styles form.standard-form#signup_form div.submit,.buddypress-styles  form.standard-form #profile-details-section, div.messages-options-nav select {
float : right;
}
.buddypress-styles form.standard-form div.submit input, div.activity-comments li form.ac-form {
margin-right : 15px;
}
.buddypress-styles table tr td.thread-info p, .buddypress-styles .activity-list li.mini div.activity-meta,.buddypress-styles  .activity-list .activity-content .activity-inner p, .buddypress-styles h1.icext-feature.icext-header-logo, .buddypress-styles div.icext-feature.icext-header-logo {
margin : 0;
color: rgb(153, 153, 153);
}
.buddypress-styles table tr.alt,.buddypress-styles  ul#topic-post-list li.alt {
background : #FBFBFB;
}
.buddypress-styles table.forum td.td-freshness,.buddypress-styles  div.activity-comments div.acomment-meta {
color : #888;
font-size : 65%;
}
.buddypress-styles body.activity-permalink .activity-list .activity-avatar img, .buddypress-styles .ri-grid-loading {
height : 100px;
width : 100px;
}
.buddypress-styles body.activity-permalink .activity-content .activity-inner,.buddypress-styles  body.activity-permalink .activity-content blockquote,.buddypress-styles  div.activity-comments form input {
margin-top : 5px;
}
.buddypress-styles .activity-inner > .activity-inner,.buddypress-styles  .activity-inner > blockquote {
margin : 0 !important ;
}
.buddypress-styles .hide-for-xlarge, .show-for-large,.buddypress-styles  .show-for-large-up, .buddypress-styles .hide-for-small, .hide-for-medium,.buddypress-styles  .hide-for-medium-down, .show-for-landscape,.buddypress-styles  .hide-for-portrait,.buddypress-styles  .hide-for-touch, .buddypress-styles .touch .show-for-touch {
display : block !important ;
}
.buddypress-styles body.theme-option,.buddypress-styles  body.theme-option #header,.buddypress-styles  body.theme-option #content,.buddypress-styles  body.theme-option #sidebar, .buddypress-styles body.theme-option .footer-wrap {
background-repeat : repeat;
}
.buddypress-styles #bp-login-widget, .single-forum .bbp-breadcrumb {
margin-bottom : 20px;
}
.buddypress-styles #content table.bbp-forums tfoot td,.buddypress-styles  #content table.bbp-topics tfoot td,.buddypress-styles  #content table.bbp-topic tfoot td,.buddypress-styles  #content table.bbp-replies tfoot td, .buddypress-styles #content table.bbp-replies tr.bbp-reply-header td,.buddypress-styles  #content table.bbp-topic tr.bbp-topic-header td,.buddypress-styles  span.bbp-admin-links a {
color : #333;
}
.buddypress-styles table.forum tbody {
background : rgb(245, 245, 245);
}
.buddypress-styles div.profile h4,.buddypress-styles  div.profile h5,.buddypress-styles  div.padder h2,.buddypress-styles  div.padder h3 {
margin-bottom : 15px;
}
.buddypress-styles div#content div.padder div#subnav {
padding-left : 0;
}
.buddypress-styles td.label {
padding-left : 0;
}
.buddypress-styles ul.acfb-holder li.friend-tab {
border-radius : 3px;
border : #ffe7c7 solid 1px;
padding : 13px 16px 11px !important ;
background : #fff9df;
font-size : 1em;
width : 100%;
margin-bottom : 17px;
margin-top : 12px;
height : 100%;
float : left;
}
.buddypress-styles .friend-tab a {
margin-left : 10px;
}
.buddypress-styles #send-to-input {
margin-bottom : 17px;
}
.buddypress-styles #send_message_form {
font-size : 13px;
}
.buddypress-styles .friendship-button {
margin-right : 10px;
}
.buddypress-styles div.padder .pagination {
padding-bottom : 13px;
height : auto;
}
.buddypress-styles div#register-page input#signup_submit {
padding : 10px 10px 12px 10px;
}
.buddypress-styles #signup_password_confirm {
margin-bottom : 20px !important ;
}
.buddypress-styles div.padder ul {
margin-left : 0 !important ;
}
.buddypress-styles div.item-list-tabs {
padding-left : 5px !important ;
}
.buddypress-styles div.padder li.feed a {
padding-left : 0 !important ;
}

div.buddypress-styles div#content {
float: left;
width: 673px;
margin-right: 25px;
}