/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/


/* Specific to example one */

.skyali_custom_tabs{ 
background: #151515; 
border:1px solid #242424;
float:left;
margin-bottom:25px;
width:99.7%;
border-radius:5px;
}

.skyali_custom_tabs .nav { 
overflow: hidden; 
border-bottom: 1px solid #242424;
background: url(tabs_bg.png);
height: 51px;
}
.skyali_custom_tabs .nav li { 

border-right:1px solid #303030;
float: left;
margin: 0;
text-indent: 0;
padding: 0;
border-bottom: 0;
background: none;
width:auto;
list-style:none;
}

.skyali_custom_tabs .nav li:first-child a{
	border-top-left-radius:5px;
}

.skyali_custom_tabs .nav li.last { 
margin-right: 0; 
}
.skyali_custom_tabs .nav li a { 
display: block;
background:url(tabs_bg.png); 
font-size: 17px;
height:51px;
text-align: center; 
border: 0; 
line-height: 3em;
float:left;
width:auto;
padding-left:16px;
padding-right:16px;
color:#fff;
}
.skyali_custom_tabs .nav li a:hover { 
background-color: #fff; 
}

.skyali_custom_tabs ul.content_area{
	width:91%;
	padding:3%;
	margin:0 auto;
	float:left;
}

.skyali_custom_tabs ul { 
list-style: none;
margin-left: 0px !important;
 }
.skyali_custom_tabs ul li a { 
display: block; 
border-bottom: 1px solid #efefef; 
 color: #222; }
.skyali_custom_tabs ul li a:hover {  }
.skyali_custom_tabs ul li:last-child a { border: none; }

.skyali_custom_tabs ul li.nav-one a.current, .skyali_custom_tabs ul.featured li a:hover,.skyali_custom_tabs .current { 
background:url(tabs_active.png) !important;

 }
.skyali_custom_tabs ul li.nav-two a.current, .skyali_custom_tabs ul.core li a:hover { 
background-color: #d30000; 

}
.skyali_custom_tabs ul li.nav-three a.current, .skyali_custom_tabs ul.jquerytuts li a:hover { 
background-color: #8d01b0; 
 
}
.skyali_custom_tabs ul li.nav-four a.current, .skyali_custom_tabs ul.classics li a:hover { 
background-color: #FE4902; 

}

.tabs-post{
	float:left;
	width:100%;
}

.tabs-post img{
	float:left;
	max-width:100%;
}

div.tabs-post .content{
float: left;
width: 100%;
margin-top:10px;
}

div.tabs-post h5 a{
	font-size:14px;
}